.DS_Store
.localized
sublime-text/User/Package Control.last-run
sublime-text/User/Package Control.ca-list
sublime-text/User/Package Control.ca-bundle
sublime-text/User/Package Control.system-ca-bundle
sublime-text/User/Package Control.cache/
sublime-text/User/Package Control.ca-certs/
sublime-text/User/Package Control.merged-ca-bundle
sublime-text/User/Package Control.user-ca-bundle
sublime-text/User/**/*.tmTheme
*.cache
atom/packages
atom/blob-store
atom/recovery
playbook.retry
