.DS_Store
.localized
sublime-text/User/Package Control.last-run
sublime-text/User/Package Control.ca-list
sublime-text/User/Package Control.ca-bundle
sublime-text/User/Package Control.system-ca-bundle
sublime-text/User/Package Control.cache/
sublime-text/User/Package Control.ca-certs/
