"*":
  "atom-beautify":
    css:
      indent_size: 2
    general:
      _analyticsUserId: "a68ff04c-af00-4fb8-9022-0d9577d6f7bc"
      analytics: false
    html:
      indent_size: 2
    js: {}
    json:
      indent_size: 2
    sass:
      indent_size: 2
    scss:
      indent_size: 2
    typescript: {}
  "atom-clock":
    showClockIcon: true
  "atom-package-deps":
    ignored: []
  "atom-typescript":
    compileOnSave: false
  "autocomplete-plus":
    navigateCompletions: "ctrl-p,ctrl-n"
    suppressActivationForEditorClasses: [
      "vim-mode-plus.normal-mode"
      "vim-mode-plus.visual-mode"
      "vim-mode-plus.operator-pending-mode"
      "vim-mode-plus.insert-mode.replace"
    ]
  "autoupdate-packages":
    lastUpdateTimestamp: 1522476202027
  core:
    disabledPackages: [
      "language-gfm"
    ]
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "solarized-light-syntax"
    ]
    titleBar: "custom"
  docblockr: {}
  editor:
    fontFamily: "Ubuntu Mono, Source Han Sans"
    invisibles: {}
    preferredLineLength: 140
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    softWrapHangingIndent: 4
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "9df38fa1-e8a2-691f-e552-1227b5d97e3c"
  "file-icons": {}
  "gruvbox-plus-syntax":
    contrast: "Soft"
  jumpy: {}
  linter: {}
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
  "linter-ui-default":
    panelHeight: 69
  "markdown-preview": {}
  "one-dark-ui": {}
  "one-light-ui": {}
  "tree-view": {}
  "vim-mode-plus":
    clearHighlightSearchOnResetNormalMode: true
    clearRangeMarkerOnResetNormalMode: true
    flashOnOperateBlacklist: []
    flashOnUndoRedo: true
    flashOnUndoRedoDuration: 150
    highlightSearch: true
    ignoreCaseForSearch: true
    ignoreCaseForSearchCurrentWord: true
    incrementalSearch: true
    setCursorToStartOfChangeOnUndoRedo: true
    showHoverOnOperate: true
    showHoverSearchCounter: true
    stayOnTransformString: true
    stayOnYank: true
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
  "vim-mode-plus-ex-mode":
    notifiedUseExMode: true
  welcome:
    showOnStartup: false
".basic.html.text":
  editor:
    preferredLineLength: 140
    softWrapHangingIndent: 4
    tabLength: 2
".c.source":
  editor:
    preferredLineLength: 140
    softWrapHangingIndent: 4
    tabLength: 4
".c2hs.source":
  editor:
    preferredLineLength: 140
    softWrapHangingIndent: 4
    tabLength: 4
".cabal.source":
  editor:
    preferredLineLength: 140
    softWrapHangingIndent: 4
    tabLength: 4
".cpp.source":
  editor:
    preferredLineLength: 140
    softWrapHangingIndent: 4
    tabLength: 4
".css.scss.source":
  editor:
    preferredLineLength: 140
    softWrapHangingIndent: 4
    tabLength: 4
".css.source":
  editor:
    preferredLineLength: 140
    softWrapHangingIndent: 4
".haskell.hint":
  editor:
    preferredLineLength: 140
    softWrapHangingIndent: 4
    tabLength: 4
".haskell.hint.message":
  editor:
    preferredLineLength: 140
    softWrapHangingIndent: 4
    tabLength: 4
".haskell.hint.type":
  editor:
    preferredLineLength: 140
    softWrapHangingIndent: 4
    tabLength: 4
".haskell.latex.tex.text":
  editor:
    preferredLineLength: 140
    softWrapHangingIndent: 4
    tabLength: 4
".haskell.source":
  editor:
    preferredLineLength: 140
    softWrapHangingIndent: 4
    tabLength: 4
".hsc2hs.source":
  editor:
    preferredLineLength: 140
    softWrapHangingIndent: 4
    tabLength: 4
".html.php.text":
  editor:
    preferredLineLength: 140
    softWrapHangingIndent: 4
    tabLength: 4
".jade.source":
  editor:
    preferredLineLength: 140
    tabLength: 2
".js.regexp.replacement.source":
  editor:
    preferredLineLength: 140
    softWrapHangingIndent: 4
".js.regexp.source":
  editor:
    preferredLineLength: 140
    softWrapHangingIndent: 4
".js.source":
  editor:
    preferredLineLength: 140
    softWrapHangingIndent: 4
    tabLength: 2
".json.source":
  editor:
    preferredLineLength: 140
    tabLength: 2
".plain.text":
  editor:
    preferredLineLength: 140
".pyjade.source":
  editor:
    preferredLineLength: 140
".sass.source":
  editor:
    preferredLineLength: 140
    softWrapHangingIndent: 4
    tabLength: 4
".scala.source":
  editor:
    preferredLineLength: 140
    softWrapHangingIndent: 4
    tabLength: 4
".shell-session.text":
  editor:
    preferredLineLength: 140
".shell.source":
  editor:
    preferredLineLength: 140
    tabLength: 4
".source.swift":
  editor:
    preferredLineLength: 140
    softWrapHangingIndent: 4
    tabLength: 4
".source.ts":
  editor:
    preferredLineLength: 140
    softWrapHangingIndent: 4
    tabLength: 4
".source.ts.tsx":
  editor:
    preferredLineLength: 140
".source.tsx":
  editor:
    preferredLineLength: 140
    softWrapHangingIndent: 4
    tabLength: 4
".source.yaml":
  editor:
    preferredLineLength: 140
    tabLength: 2
